@media (max-width:1000px){
    header .menu-icon{
        display: none;
    }
}
@media (max-width:670px){
    main h1{
        font-size: 30px;
    }
    main p{
        font-size: 16px;
    }
    header{
        padding: 30px 50px;
    }
    nav{
        display: none;
    }
    header .menu-icon{
        display: block;
        font-size:40px;
        color:#6988F8;
    }
    main img{
        width: 500px;
    }
    .body-page-title h1{
        font-size: 20px;
    }
    .body-page-title p{
        text-align: center;
        font-size: 16px
    }
}
@media (max-width:420px){
    header .menu-icon{
        display: block;
        font-size:40px;
        color:#6988F8;
    }
    main h1{
        padding: 0px 20px;
        text-align: center;
        font-size: 25px;
    }
    main p{
        padding: 0px 20px;
        text-align: center;
        font-size: 16px;
    }
    main img{
        width: 400px;
    }
    .body-page{
        padding: 120px 40px 0px;
    }
    .body-page-title h1{
        text-align: center;
    }
    .cards .phots{
        left: 15px;
    }
    .kontak h1{
        margin-bottom: 50px;
        padding: 0px 20px;
    }
    .kontaks .log{
        display: flex;
        flex-direction: column;
    }
}